@import '../../Animations/Animations.css';

.skills-main-div {
    margin-top: 3.5rem;
    width: 100%;

    display: flex;

    justify-content: center;

    opacity: 0;
    transform: translateY(-20);

    animation: view 0.5s ease forwards;
}

.skills-sub-div {
    width: 95%;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    border-radius: 20px;
}

.skills-sub-div .skills-header h2{
    font-weight: 600;
}

.skills-sub-div .skills-content-div {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    margin-bottom: 0.5rem;
}