main {
    margin-top: 1rem;
    width: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
}

.main-content {
    width: 90%;
    display: flex;
    flex-direction: column;

    gap: 10px;
    justify-items: center;
}

.intro {
    width: 100%;
}

/* Styling the intro card of large screen */

.intro-lg-screen {
    background-color: rgba(255, 255, 255, 0.712);
    width: 100%;
    min-height: 70vh;
    border-radius: 25px;
    border: 1px solid rgba(182, 182, 182, 0.832);

    display: flex;
    flex-direction: row;

    align-items: end;
    justify-content: space-around;
}

.intro-lg-screen .img-lg {
    width: 50%;
    padding: 3.5rem 2rem 0 6rem;
}

.intro-lg-screen .img-lg #lg-screen-img {
    height: 75vh;
}

.intro-lg-screen .intro-content-lg {
    width: 50%;
    display: flex;
    flex-direction: column;

    padding: 20px;
    padding-bottom: 7rem;
}

.intro-content-lg .welcome-msg-lg {
    width: 75%;
    font-size: 30px;
    font-weight: bold;
}

.welcome-msg-lg p {
    margin: 0;
}

.intro-content-lg .about-myself-lg {
    width: 75%;
    font-size: 12px;

    border-bottom: 1px solid rgba(167, 167, 167, 0.86);
}

/* Small screen Display none for large screen. */
.intro .intro-sm-screen {
    width: 100%;
    display: none;
    flex-direction: column;

    align-items: center;
    gap: 7px;
}

.intro-sm-screen .img-sm {
    background-color: rgba(255, 255, 255, 0.712);
    width: 100%;

    display: flex;

    justify-content: center;

    border: 1px solid rgba(176, 176, 176, 0.808);
    border-radius: 19px;
}

.intro-sm-screen #sm-screen-img {
    height: 50vh;

    padding-top: 2rem;
}

.intro-sm-screen .intro-content-sm {
    background-color: rgba(255, 255, 255, 0.712);

    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.2rem 1rem 1.2rem;

    align-content: center;

    border: 1px solid rgba(176, 176, 176, 0.808);
    border-radius: 19px;
}

.intro-content-sm .welcome-msg-sm {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}

.intro-content-sm .welcome-msg-sm p {
    margin: 0;
}

.intro-content-sm .about-myself-sm {
    width: 100%;
    font-size: 13px;

    border-bottom: 1px solid rgba(167, 167, 167, 0.86);
}

/* Styling achievements section. */

.achievements {
    background-color: rgba(255, 255, 255, 0.712);
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;

    border: 1px solid rgba(176, 176, 176, 0.808);
    border-radius: 19px;

    align-items: center;
}

.about-achievement {
    width: 90%;
    font-size: 16px;

    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.about-achievement p{
    margin: 0;
}

.achievements-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem 0 1.5rem 0;
}