.skills-content {
    width: auto;
    height: auto;

    background: #fff;
    
    display: flex;
    flex-direction: column;

    margin: 8px;
    padding: 10px 12px;

    border-radius: 20px;
}

.skills-content .content-header {
    width: 100%;
}

.content-header h3 {
    margin: 8px;
}

.skills {
    margin: 8px;
}