.Achievement-content-div {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0.7rem 0 1rem 0;

    border-bottom: 1px solid rgba(167, 167, 167, 0.86);
}

.Achievement-content-div .head{
    max-width: 100%;

    font-size: 17px;
    font-weight: 400;
}

.Achievement-content-div .content {
    max-width: 100%;
    overflow: hidden;

    text-wrap: wrap;
    text-align: justify;

    font-size: 14px;
    font-style: italic;
}

.Achievement-content-div .link {
    font-size: 13px;
}
