header {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: fixed;
    background-position-x: unset;
    z-index: 9999;
    top: 3px;
}

header .main-section {
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.575);
    backdrop-filter: blur(6px);

    display: flex;

    border-radius: 20px;
    border: 0.5px solid rgba(182, 182, 182, 0.832);

    justify-content: center;
}

.main-section nav {
    width: 90%;
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;
}

nav .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.menu .header-space a {
    margin: 0px;
    padding: 0px;
}

.navbar h1 {
    width: fit-content;
    font-size: 20px;
    font-style: italic;
    
    color: rgb(0, 0, 0);
    
    align-items: center;
    justify-items: center;
}

.navbar .headerIcon {
    display: none;
}

.navbar .navigate-link {
    width: 100%;
    height: inherit;

    font-family: monospace;
    font-size: 14px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
