header {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;

    position: sticky;
    z-index: 9999;
    top: 5px;

}

header .main-section {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.712);
    backdrop-filter: blur(5px);

    display: flex;

    border-radius: 20px;
    border: 1px solid rgba(182, 182, 182, 0.832);

    justify-content: center;
}

nav {
    width: 90%;
    
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;
}

nav .navbar {
    width: 100%;
    min-height: 8vh;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 20px;
    font-style: oblique;

    color: rgb(0, 0, 0);

    align-items: center;
    justify-items: center;
}

.navbar .navigate-link {
    width: 65%;
    font-family: monospace;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.navbar .headerIcon {
    display: none;
}

.remain-bg-blur {
    width: 100%;
}
