@media (min-width: 431px) and (max-width: 1024px) {
  nav .navbar {
    flex-direction: column;
  }

  .menu {
    width: 100%;
    height: 4rem;
  }

  .navbar .navigate-link {
    width: 100%;
    margin-bottom: 1rem;

    display: none;
    flex-direction: column;

    font-size: 22px;
    font-family: inherit;
    font-weight: 600;

    gap: 0.5rem;
  }

  .navigate-link a {
    color: rgb(22, 22, 22);
    margin-bottom: 1rem;
  }

  .navbar .headerIcon {
    display: flex;
  }
}

@media (max-width: 430px) {
  nav .navbar {
    flex-direction: column;
  }

  .menu {
    width: 100%;
    height: 4rem;
  }

  .navbar .navigate-link {
    width: 100%;
    margin-bottom: 1rem;

    display: none;
    flex-direction: column;

    font-size: 22px;
    font-family: inherit;
    font-weight: 600;

    gap: 0.5rem;
  }

  .navigate-link a {
    color: rgb(22, 22, 22);
    margin-bottom: 1rem;
  }

  .navbar .headerIcon {
    display: flex;
  }
}
