@import '../../Animations/Animations.css';

.project-div {
    width: 100%;
    margin-top: 5rem;

    display: flex;

    justify-content: center;

    opacity: 0;
    transform: translateY(-20px);

    animation: view 0.5s ease forwards;
}

.project-sub-div {
    width: 90%;

    /* border: 0.5px solid rgb(168, 168, 168); */
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 1rem;
}

.project-header h2 {
    font-weight: 500;
}