@import '../../Animations/Animations.css';

.name_icon h2 {
  font-size: 12px;
  font-weight: 600;
}

.connect .link {
  display: flex;
  flex-direction: column;

  align-items: start;
}

.link ul {
  margin: 0;
  padding: 0;


  justify-items: start;
}

@media (max-width: 1024px) {
  .connect .name_icon {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
  }

  .connect .link {
    display: none;
    flex-direction: column;

    align-items: start;
  }

  .name_icon h2 {
    font-size: 15px;
    font-weight: 400;
  }

  .link ul {
    margin: 0;
    height: auto;
    padding-left: 10px;

    justify-items: start;

    opacity: 0;
    transform: translateY(-20px);
    animation: view 0.5s ease forwards;
  }
}
